
<div class="hello-gymulation">
    <div class="layer">
        <div class="title-box">
            <i class="fab fa-battle-net fa-10x"></i>
            <h1 class="logo"> Gymulation</h1>
        </div>
    </div>
</div>

<div class="second-page">
    <div class="text-box">
        <h1>Gymulationとは？</h1><br>
        <h3>めまぐるしく体操技術が進化する時代。</h3><br>
        <h3>あなたの演技構成も刻々と変化しているでしょう。</h3><br>
        <h3>Gymulationは、あなたの演技構成を組む手助けをします。</h3><br>
    </div>
    <div class="protector">
        <%= image_tag "protector.jpg", size: '400x570' %>
    </div>
</div>

<h1 class="pagetitle"">Gymulationの使い方</h1>

<div class="howto">
    <div class="items">
        <div class="item">
            <div class="item-img"><%= image_tag "5parallel.jpg", size: '600x400' %></div>
            <div class="item-body">
                <h2 class="item-title">STEP1: 技を登録しよう</h2>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
        </div>

        <div class="item">
            <div class="item-img"><%= image_tag "5parallel.jpg", size: '600x400' %></div>
            <div class="item-body">
                <h2 class="item-title">STEP2: 演技構成を組もう</h2>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
        </div>

        <div class="item">
            <div class="item-img"><%= image_tag "5parallel.jpg", size: '600x400' %></div>
            <div class="item-body">
                <h2 class="item-title">STEP3: 動画をシェアしよう</h2>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
        </div>
    </div>
</div>