<div class="hello-gymulation">
    <div class="layer-black">
    
    </div>
    <div class="layer-red">

    </div>
    <div class="layer">
        <div class="title-box">
            <i class="fab fa-battle-net fa-10x"></i>
            <h1 class="logo"> Gymulation</h1>
        </div>
    </div>
</div>

<div class="second-page">
    <br><br><br>
    <h1 class="pagetitle"">Gymulationとは？</h1>

    <div class="three-items">
        <div class="item">
            <i class="fas fa-user-friends fa-3x"></i>
            <h2>体操選手だけのコミュニティ</h2>
            <p>まずは気になる選手をフォローしよう。</p>
            <p>動画投稿機能やDM機能を利用して<br>交流を深めよう！</p>
            <p>今後のアップデートで<br>もっと使いやすくしていくつもりです！</p>
            <%= link_to "選手をさがす", search_users_path %>
        </div>
        <div class="item">
            <i class="fas fa-child fa-3x"></i>
            <h2>800種類以上からなる技データベース</h2>
            <p>まずは自分のできる技を登録してみよう。</p>
            <p>あとはマイページから演技構成を組むだけ！</p>
            <p>自動でDスコアも計算してくれます！</p>
            <p>万が一技が見つからなければ<br>自分でデータベースに登録できます。</p>
            <%= link_to "技を登録する", techniques_path %>
        </div>
        <div class="item">
            <i class="fab fa-youtube fa-3x"></i>
            <h2>他のユーザーの動画から学べる</h2>
            <p>まずは他の選手の動画をチェックしよう。</p>
            <p>気に入った動画にはいいねをつけたり<br>コメントを残せます。</p>
            <p>日々の練習動画を投稿していくことで<br>練習日記としても使えます！</p>
            <%= link_to "動画を見つける", posts_path %>
        </div>
    </div>
</div>