<% if difficulty == "A難度" %>
    <p>A</p>
<% elsif difficulty == "B難度" %>
    <p>B</p>
<% elsif difficulty == "C難度" %>
    <p>C</p>
<% elsif difficulty == "D難度" %>
    <p>D</p>
<% elsif difficulty == "E難度" %>
    <p>E</p>
<% elsif difficulty == "F難度" %>
    <p>F</p>
<% elsif difficulty == "G難度" %>
    <p>G</p>
<% elsif difficulty == "H難度" %>
    <p>H</p>
<% elsif difficulty == "I難度" %>
    <p>I</p>
<% elsif difficulty == "J難度" %>
    <p>J</p>
<% end %>