<div class="width90">
    <h1 class="subtitle"><a href="/users/<%= @user.id %>"><%= @user.name %></a>さんのフォロワー</h1>

    <div class="results">
        <%= render :partial => "users", :collection => @user.follower_user, :as => "user" %>
    </div>
</div>