footer {
    bottom: 0;
    /* background-color: rgb(59, 70, 0); */
    color: white;
    // height: 300px;
    padding-top: 50px;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}
.contact {
    position: relative;
    display: inline-block;
    padding: 10px 55px;
} 
.contact:before, .contact:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: white;
}
.contact:before {
    left:0;
}
.contact:after {
    right: 0;
}
header,footer .links {
    padding: 10px 100px;
    margin-bottom: 50px;
    @media screen and (max-width: 480px) {
        display: none;
    }
}
.links ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.links a.active, .links a:hover {
    border-bottom: 3px solid #ef5350;
}
.copyright {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-small;
    margin-bottom: 100px;
    padding-bottom: 0;
}
.smartmenu {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: rgb(7,11,22);
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: thin solid white;
    @media screen and (min-width: 1080px) {
        display: none;
    }
}
.smartmenu .icon {
    width: 20%;
    padding: 6px 0;
}
.smartmenu .icon-border {
    width: 20%;
    padding: 6px 0;
    border-left: thin solid white;
    border-right: thin solid white;
}
.smartmenu p {
    font-size: 0.8rem;
}